@model ProjectManager.Models.CommentViewModel

@if(Model != null)
{
    <div class="commentContainer">
        <table class="commentHeader">
            <tr>
                <td class="commentUserName"><b>@Model.UserName</b></td>
                <td class="commentTimestamp">@Model.TimeStamp</td>
            </tr>
        </table>
       
        @Model.CommentContent
    </div>
}