
<h2>Add new task</h2>

@using (Html.BeginForm("Create", "Tasks", FormMethod.Post))
{

    <fieldset>
        <h3>Name of the task:</h3>
        <input style="width: 100%" type="text" name="taskName" /><br />
        <h3>Describe the task:</h3>
        <textarea style="width: 100%" type="text" name="taskDescription" rows="4" /><br />
        <h3>Estimate work hours:</h3>
        <input style="width: 100%" type="number" name="workhours" /><br />
        <h3>Select priority:</h3>
        <select name="priority">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
        </select>
        <h3>Maximum number of developers:</h3>
        <input style="width: 100%" type="number" name="maxDevs" /><br />

        <input type="hidden" name="projectId" value="@ViewData["projectId"]"/>
        <input type="submit" id="createTask" value="Create task" style="display: block; margin: 0 auto;" />
    </fieldset>

}
