
<h2>Create new project</h2>

@using (Html.BeginForm("Create", "Projects",  FormMethod.Post))
{
    
    <fieldset>
        <h3>Name of the new project:</h3>  
        <input style="width: 100%" type="text" name="projectName" /><br />
        <h3>Describe the project:</h3>
        <textarea style="width: 100%" type="text" name="projectDescription" rows="9" /><br />
        <h3>Set deadline:</h3>
        Deadline: <input type="date" name="deadline" value="@DateTime.Now.AddMonths(1).ToString()"/><br /><br />
        <input type="submit" id="createProject" value="Create project" style="display: block; margin: 0 auto;"/>
    </fieldset>

}