
<h3>Create new project</h3>

<script type="text/javascript">
    $(document).ready(function () {
        jQuery('.dateTimePicker').datetimepicker();
    })
</script>

@if(ViewData.ContainsKey("errorMessage")){
    <div style="color: #ff0000; font-size: x-large">
        Error: @ViewData["errorMessage"]
    </div>
}

@using (Html.BeginForm("Create", "Projects",  FormMethod.Post))
{
    <h4>Name:</h4>  
    <input style="width: 100%" type="text" name="projectName" /><br />
    
    <h4>Description:</h4>
    <textarea style="width: 100%" name="projectDescription" rows="6" /><br />
    
    <h4>Deadline:</h4>
    <input class="dateTimePicker" name="deadline" type="text">
            
    <input type="submit" id="createProject" value="Create project" style="display: block; margin: 0 auto; margin-top: 25px" class="action-button"/>

}