@model IEnumerable<BusinessLogicLayer.Project>

@{
    ViewBag.Title = "Index";
}

<h2>My projects</h2>


<div class="container">
    @foreach (var item in Model)
    {
        <div class="project-element">
            <p class="project-title">@Html.DisplayFor(modelItem => item.Name)</p>
            @Html.DisplayFor(modelItem => item.Deadline)
        </div>
    }
</div>
